@import "variables";
@import "fuentes";
@import "index";
@import "generales";

* {
  margin: 0;
  padding: 0;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
  font-size: 10px;
  font-family: 'Amatic SC', cursive;
  img {
    width: 30vw;
  }
}
#img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#direccion {
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
  margin: 40px;
  line-height: 50px;
}
@keyframes slidein {
  from {
    position: relative;
    left: 1400px;
  }

  to {
    position: relative;
    left: 0px;
  }
}

#carouseles {
  display: flex;
}
.novedades {
background-color: #6dd5ed;
}
.noticias {
background-color: blue;
      h6 {
        background-color: white; 
        }
}
$alto-box: 30px;
$ancho:800px;
$blue: #4285F4;
$green: #33D374;
$font: 10px/8px;
$width: 1000px;
$width: $width/2;        
$width: round(1.5)/2;    
$height: (500px/2);      
$margin-left: 5px + 8px/2px;
.box_uno {
  font: 10px/8px;
  width: 500px;
  height: 250px;
  margin-left: 9px;
}
.box_dos{
  font: 10px/8px;
  width: 500px;
  height: 250px;
  margin-left: 9px; 
}
.ratio-4x3 {
  @include media-breakpoint-up(md) {
    --bs-aspect-ratio: 50%; // 2x1
  }
}
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
)
$sass;
$light-weights: ("lightest": 100, "light": 300);
$heavy-weights: ("medium": 500, "bold": 700);

@debug map.merge($light-weights, $heavy-weights);
label {
  display:block;
  margin-top:20px;
  letter-spacing:1px;
}